*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.headerContainer{
    display: flex;
    width: 100%;
}
.img{
    flex: 1;
    background-color:coral;
    height: 1100px;
    width: 50%;
}
.loginPage {
    flex: 1;
}
.loginForm{
    padding: 20px 90px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
}
.loginHeader{
    display: flex;
    padding: 55px;
}
.logo{
    display: flex;
    align-items:center;
    flex: 1;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
.textLogo{
    font-size: 30px;
}
.imgLogo {
    width: 60px;
    height: 60px;
    margin-right: 5%;
}
.btn-signup{
    display: flex;
    flex: 1;
    background-color: #FFBA33;
    border-radius: 50px;
    height: 75px;
    width: 5%;
    align-items: center;
    justify-content: center;
    color: #6A4029;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.btn-signup:active{
    background-color: #fcc75d;
}
.loginText{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    color: #6A4029;
    font-family: 'Rubik', sans-serif;
}

.forgotPassword {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    cursor: pointer;
    color: #6A4029;
}
.forgotPassword:active{
    color: #a07259;
}

.inputLabel{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}

.input{
    padding: 30px 25px;
    font-size: 20px;
    font-weight: 400;
    border-style: none;
    border-radius: 20px;
    border: 1px solid #666;
    margin-bottom: 20px;
}

.btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: #FFBA33;
    height: 75px;
    box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    color: #6A4029;
    font-weight: 700;
    font-size: 20px;
}

.btn-login-google{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: #FFFFFF;
    height: 75px;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}
.btn-login-google > p{
    margin-left: 14px;
}
.btn-login-google:active{
    background-color: #f7e4e4;
}
.btn-login:active{
    background-color: #fcc75d;
}
.member-card{
    margin-top: 1%;
    padding: 70px;
    width: 70%;
    height: 233px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    top: 978px;
    left: 15%;
    right: 15%;
    border-radius: 10px;
}

.getMembertext{
    display: flex;
    flex-direction: column;
    margin-right: 50;
}
.getMemberNow{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
}
.letsJoin{
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.btn-member{
    display: flex;
    height: 60px;
    align-items: center;justify-content: center;
    padding: 20px 70px;
    background-color: #FFBA33;
    font-family: 'Rubik' , sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
}

.btn-member:active{
    background-color:#fcc75d;
}
.footer{
    background-color: #f8f8f8;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
}
.about{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.aboutText{
    margin-bottom: 45px;
}
.footerlogo{
    margin-right: 15px;
}
.aboutHeader{
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    font-size: 20px;
    font-weight: 700;
}
.socialIcon{
    display: flex;
    margin-bottom: 30px;
    width: 20%;
    justify-content: space-between;
}
.imgIcon{
    margin-left: 20px;
}
.waterMark{
    color: #AFB5C0;
}
.footerSide{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F8F8F8;
    font-family: 'Rubik', sans-serif;
    margin-left: 300px;
}

.productList{
    color: #0B132A;
    font-weight: 600;
    margin-bottom: 20px;
}

.product > p{
    margin: 10px 0px;
    color: #4F5665;
}

.engageList{
    color: #0B132A;
    font-weight: 600;
    margin-bottom: 20px;
}

.engage > p{
    margin: 10px 0px;
    color: #4F5665;
}

@media screen and (max-width : 1024px) {
    .loginHeader{
        padding: 20px;
        margin: 0px;
    }
    .loginForm{
        padding: 0px;
        margin: 20px;
    }
    .textLogo{
        margin: 0%;
    }
    .imgLogo{
        width: 40px;
        height: 40px;
    }
    .btn-signup{
        width: 10%;
    }
    .imgIcon{
        margin-left: 10px;
    }
    .socialIcon{
        width: 40%;
    }
}

@media screen and (max-width : 768px) {
    .headerContainer{
        background-image: url(/coffeeland-client/assets/img/robert-bye-95vx5QVl9x4-unsplash\ 2.png);
        background-size: cover;
        -webkit-background-size: cover ;
    }
    .headerContainer::before{
        content: "";
        background: #000;
        position: absolute;
        opacity: 100%;
        display: block;
        top: 0;
        left: 0;
        right: 0;
    }
    .forgotPassword{
        color: #FFFFFF;
    }
    .img{
        display: none;
    }
    .loginPage{
        padding: 50px;
    }
    .member-card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 890px;
        height: 250px;
        width: 80%;
        left: 10%;
        padding: 0px;
        margin: 0px;
    }
    .getMemberNow{
        font-size: 20px;
    }
    .letsJoin{
        font-size: 15px;
    }
    .btn-member{
        margin-left: 50px;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 250px;
        width: 100%;
    }
    .footerSide{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0px;
    }
    .textLogo{
        color: #FFFFFF;
    }
    .inputLabel{
        color: #ffffff;
    }
    .loginText{
        color: #ffffff;
    }
}
@media screen and (max-width: 425px) {
    .btn-signup{
        position: absolute;
        top: 20px;
        right:15px;
        width: 100px;
        height: 50px;
    }
    .logo{
        position: absolute;
        top: 20px;
        left: 15px;
    }
    .textLogo{
        font-size: 20px;
    }
    .member-card{
        display: none;
    }
    .footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0px;
        padding-top: 30px;
        margin: 0px;
    }
    .product{
        margin-right: 50px;
        cursor: pointer;
    }
    .footerSide{
        margin: 0;
        padding: 0%;
    }
    .about{
        padding-top: 20px;
        margin-top: 20px;
    }
}