*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 129px;
    font-size: 20px;
    position: sticky;
    z-index: 99;
    background-color:#FFFFFF;
}
.logo{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textLogo{
    color: #0B132A;
    font-weight: 700;
}
.navbarItem{
    flex: 6;
    display: flex;
    align-items: stretch;
    justify-content: center;
    list-style: none;
}
.navbarItem > li{
    margin: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #4F5665;
    ;
}
.navbarItem > li:hover{
    color: #6A4029;
}
.auth{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.btn-signUp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFBA33;
    width: 30%;
    padding: 3%;
    cursor: pointer;
    border-radius: 50px;
    color: #0B132A;
    font-weight: 600;
}
.imgLogo{
    margin-right: 5%;
}
.hero{
    height: 645px;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.hero>img{
    width: 100%;
}
.textHero{
    position: absolute;
    color: #FFFFFF;
    top: 207px;
    left: 150px;
    font-size: 50px;
    font-weight: 600;
}

.hero > p{
    position: absolute;
    color: #FFFFFF;
    top: 350px;
    left: 150px;
    font-size: 20px;
    font-weight: 600;
}
.getStarted{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 450px;
    background-color: #FFBA33;
    left: 150px;
    width: 250px;
    height: 60px;
    padding: 18px 77px;
    border-radius: 10px;
    cursor: pointer;
    color: #6A4029;
    font-size: 16px;
    font-weight: 600;
}
.getStarted:active{
    background-color: #ffcc67;
}
.infoStore{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    height: 200px;
    width: 1240px;
    position: absolute;
    top: 750px;
    left: 10%;
    border-radius: 10px;
}
.staff{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgStaff{
    background-color:#FFBA33;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    padding: 20px;
}
.textStaff{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.angka{
    font-weight: 700;
    color: #0B132A;
    font-size: 25px;
}
.textStaff >p{
    color: #4F5665;
    font-size: 20px;
}
.line{
    background-color:#FFFFFF;
    width: 10px;
    height: 100px;
    border-left: 2px solid #EEEFF2;
}
.teamWork{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
    padding: 150px;
}
.teamWorkImg{
    flex: 1;
}
.teamWorkText{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}
.quotes{
    font-size: 35px;
    font-weight: 600;
    margin-top: 25px;
}
.textQuotes{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checklist{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
}
.checklistText{
    margin-left: 15px;
}
.favorite{
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    width: 100%;
    height: 1000px;
    position: relative;
    flex-direction: column;
    padding-top: 80px;
}
.favoriteTitle{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
    color: #0B132A;
}
.desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
.favoriteProduct{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 130px;
    width: 100%;
    padding: 160px;
    z-index: 5;
}
.imgProductContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgProduct{
    border-radius: 50%;
}
.productTittle{
    font-size: 18px;
    font-weight: 600;
    color: #0B132A;
    margin-bottom: 30px;
}
.containerProduct{
    width: 350px;
    height: 567px;
    border: 2px solid #DDDDDD ;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    border-radius: 10px;
}
.productInfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 175px;
    position: absolute;
    top: 200px;
}
.checklistmin{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 70%;
}
.checkText{
    margin-left: 25px;
}
.price{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.priceLabel{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    color: #0B132A;
}
.orderNow{
    width: 180px;
    height: 45px;
    border: 2px solid #FFBA33;
    color: #6A4029;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-top: 20px;
}
.img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.maps{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}
.maps>img{
    margin-top: 50px;
}
.maps>h3{
    font-size: 35px;
    font-weight: 500;
    color: #0B132A;
    margin-bottom: 20px;
}
.maps>p{
    font-size: 16px;
    font-weight: 400;
    color:#4F5665 ;
    margin-bottom: 20px;
}
.partner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}
.partner>h3{
    font-size: 35px;
    font-weight: 600;
}
.testiContainer {
    background-color: #f8f8f8;
    padding: 100px;
    text-align: center;
}
.testiTitle >h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0b132a;
}
.testiTitle >p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4f5665;
}
.testiList {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}
.testiName{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.testiListItem {
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 20px;
    height: 250px;
    width: 100%;
    margin-left: 50px;
}
.testiListItem:hover{
    border: 2px solid #6A4029;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.star{
    margin-left: 10px;
}
.testiDesc {
    padding-top: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #0b132a;
}
.footer{
    background-color: #f8f8f8;
    margin-top: 20px;
}
.about{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 15vh;
}
.paginasi{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color:#F8F8F8;
    height: 350px;
}
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}
.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
    position: relative;
    cursor: pointer;
}
.btn-right{
    position: absolute;
    top: -30px;
    right: -150px;
}
.promoContainer{
    background-color:#f8f8f8;
    width: 100%;
    width: 100%;
}
.promo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 5;
    height: 233px;
    left: 12%;
    top: 655%;
    padding: 100px;
    border-radius: 10px;
}
.promotext>h3{
    font-weight: 600;
    font-size: 35px;
    color: #0B132A;
}
.promotext>p{
    font-size: 16px;
    font-weight: 400;
    color:#4f5665;
}
.btn-promo{
    height: 60px;
    width: 250px;
    background-color: #FFBA33;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6A4029;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.btn-promo:hover{
    background-color: #ffcc67;
}
.footer{
    display: flex;
    padding: 150px;
}
.aboutText{
    margin-bottom: 45px;
}
.footerlogo{
    margin-right: 15px;
}
.aboutHeader{
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 700;
}
.socialIcon{
    display: flex;
    margin-bottom: 30px;
    width: 20%;
    justify-content: space-between;
}
.waterMark{
    color: #AFB5C0;
}
.footerSide{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Rubik', sans-serif;
}

.productList{
    color: #0B132A;
    font-weight: 600;
    margin-bottom: 20px;
}

.product > p{
    margin: 10px 0px;
    color: #4F5665;
}

.engageList{
    color: #0B132A;
    font-weight: 600;
    margin-bottom: 20px;
}

.engage > p{
    margin: 10px 0px;
    color: #4F5665;
}


@media screen and (max-width:1440px) {
    .promo{
        position: absolute;
        top: 475%;
    }
}

@media screen and (max-width:1024px){
    .infoStore{
        position: relative;
        width: 90%;
        margin: 0px;
        padding: 0px;
    }
    .teamWork{
        margin: 0;
        padding: 0;
        flex-direction: column-reverse;
    }
    .hero{
        margin: 0;padding: 0;
        height: 400px;
    }
    .favorite{
        width: 100%;
    }
    .favoriteProduct{
        padding: 0;
        top: 300px;
    }
    .maps{
        margin: 0;
        padding: 0;
    }
    .maps>h3{
        font-size: 25px;
        font-weight: 700;
        margin-top: 10px;
    }
    .maps>img{
        width: 100%;
    }
    .promo{
        top: 4800px;
    }
    .testiListItem{
        height: 400px;
    }
    .footer{
        padding: 100px;
        padding-bottom: 0;
    }
    .btn-signUp{
        width: auto;
        padding: 10px;
        border-radius: 20px;
    }
}

@media screen and (max-width :768px) {
    .teamWork{
        padding: 0px;
        margin: 0px;
        flex-direction: column-reverse;
    }
    .hero{
        padding: 0px;
        margin: 0px;
        height: 300px;
    }
    .teamWorkImg{
        margin: 0;
        padding: 0;
    }
    .infoStore{
        margin: 0;
        padding: 0;
        width: 80%;
    }
    .textLogo{
        font-size: 18px;
    }
    .navbarItem > li{
        font-size: 13px;
    }
    .btn-login, .btn-signUp{
        font-size: 14px;
    }
    .btn-signUp{
        width: auto;
    }
    .textHero{
        top: 140px;
    }
    .hero>p{
        top: 300px;
    }
    .getStarted{
        top: 400px;
    }
    .teamWorkText{
        margin: 0;
    }
    .quotes{
        margin : 0;
        padding: 0;
        font-size: 25px;
    }
    .textQuotes{
        font-size: 14px;
    }
    .checklistText{
        font-size: 14px;
    }
    .favoriteProduct{
        top: 280px;
        padding: 40px;
    }
    .containerProduct{
        width: 230px;
        padding-top: 175px;
        padding-left: 0;
        padding-right: 0;
    }
    .checkText{
        font-size: 14px;
    }
    .price{
        margin: 0;
    }
    .maps{
        margin: 0;
        padding: 0;
    }
    .maps>h3{
        font-size: 25px;
        font-weight: 700;
    }
    .maps>p{
        font-size: 16px;
        margin: 0;
    }
    .maps>img{
        width: 100%;
    }
    .partner>h3{
        font-size: 25px;
    }
    .promo{
        display: none;
    }
    .testiContainer{
        padding: 0;
        margin: 0;
    }
    .testiTitle>h2{
        font-size: 25px;
        font-weight: 700;
    }
    .testiTitle>p{
        font-size: 16px;
        font-weight: 400;
        margin: 0;
    }
    .testiList{
        margin: 0;
        width: 100%;
    }
    .testiListItem{
        margin-left: 10px;
        height: 350px;
    }
    .paginasi{
        display: none;
    }
    .footer{
        padding: 50px;
        margin: 0;

    }
}

@media screen and (max-width:425px) {
    .maps>h3{
        margin: 0;
    }
    .maps>p{
        text-align: center;
    }
    .paginasi{
        display: none;
    }
    .auth{
        display: none;
    }
    .hero{
        height: 450px;
    }
    .textHero{
        margin: 0;
        font-size: 20px;
        left: 20px;
    }
    .hero>p{
        top: 220px;
        font-size: 14px;
        left: 20px;
    }
    .hero>img{
        height: 380px;
        object-fit: cover;
    }
    .getStarted{
        top: 350px;
        left: 20px;
    }
    .quotes{
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    .teamWork{
        width: 100%;
        margin-left: 20px;
    }
    .teamWork>img{
        width: 100%;
    }
    .infoStore{
        display: none;
    }
    .productInfo{
        display: none;
    }
    .favoriteTitle{
        font-size: 25px;
        font-weight: 700;
    }
    .favoriteProduct{
        flex-direction: column;
    }
    .desc{
        margin: 0;
        font-size: 16px;
    }
    .maps>img{
        width: 100%;
    }
    .testiList{
        flex-direction: column;
        row-gap: 20px;
    }
    .footer{
        height: auto;
    }
    .promo{
        display: none;
    }
    
}